<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= render 'layouts/stylesheets' %>


  </head>
  <body>
   <center><div class="container">
      <header>
        <%= image_tag("http://railstutorial.org/images/sample_app/logo.png", :alt => "Sample App", :class => "round") %>
        <nav class="round">
          <ul>
            <li><%= link_to "Home", '/' %></li>
            <li><%= link_to "Help", '/help' %></li>
            <li><%= link_to "Sign in", '/signin' %></li>
          </ul>
        </nav>
      </header>
      <section class="round">
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>

    </div></center>

  </body>
</html>



